<?php
/**
 * @link      http://github.com/zetta-code/zend-authentication for the canonical source repository
 * @copyright Copyright (c) 2018 Zetta Code
 */

declare(strict_types=1);

use Application\Entity\Role;

return [
    'router' => [
        'routes' => [
            'authentication' => [
                'type' => Zend\Router\Http\Literal::class,
                'options' => [
                    'route' => '/auth',
                    'defaults' => [
                        'controller' => 'Zetta\ZendAuthentication\Controller\Auth',
                        'action' => 'index'
                    ]
                ],
                'may_terminate' => true,
                'child_routes' => [
                    'authenticate' => [
                        'type' => Zend\Router\Http\Literal::class,
                        'options' => [
                            'route' => '/authenticate',
                            'defaults' => [
                                'action' => 'authenticate'
                            ]
                        ],
                        'priority' => 9,
                    ],
                    'confirm-email' => [
                        'type' => Zend\Router\Http\Segment::class,
                        'options' => [
                            'route' => '/confirm-email/:token',
                            'constraints' => [
                                'token' => '[a-zA-Z0-9]*'
                            ],
                            'defaults' => [
                                'action' => 'confirm-email'
                            ]
                        ],
                        'priority' => 9
                    ],
                    'default' => [
                        'type' => Zend\Router\Http\Segment::class,
                        'options' => [
                            'route' => '/:controller[/[:action[/[:id]]]]',
                            'constraints' => [
                                'controller' => '[a-zA-Z][a-zA-Z0-9_-]*',
                                'action' => '[a-zA-Z][a-zA-Z0-9_-]*',
                                'id' => '[0-9]+'
                            ],
                            'defaults' => [
                                '__NAMESPACE__' => 'Zetta\ZendAuthentication\Controller',
                                'action' => 'index'
                            ]
                        ],
                        'priority' => 5
                    ],
                    'password-recover' => [
                        'type' => Zend\Router\Http\Segment::class,
                        'options' => [
                            'route' => '/password-recover/:token',
                            'constraints' => [
                                'token' => '[a-zA-Z0-9]*'
                            ],
                            'defaults' => [
                                'action' => 'password-recover'
                            ]
                        ],
                        'priority' => 9
                    ],
                    'recover' => [
                        'type' => Zend\Router\Http\Literal::class,
                        'options' => [
                            'route' => '/recover',
                            'defaults' => [
                                'action' => 'recover'
                            ]
                        ],
                        'priority' => 9
                    ],
                    'signin' => [
                        'type' => Zend\Router\Http\Literal::class,
                        'options' => [
                            'route' => '/signin',
                            'defaults' => [
                                'action' => 'signin'
                            ]
                        ],
                        'priority' => 9
                    ],
                    'signout' => [
                        'type' => Zend\Router\Http\Literal::class,
                        'options' => [
                            'route' => '/signout',
                            'defaults' => [
                                'action' => 'signout'
                            ],
                        ],
                        'priority' => 9
                    ],
                    'signup' => [
                        'type' => Zend\Router\Http\Literal::class,
                        'options' => [
                            'route' => '/signup',
                            'defaults' => [
                                'action' => 'signup'
                            ],
                        ],
                        'priority' => 9
                    ],
                ],
                'priority' => 10
            ]
        ]
    ],

    'zend_authentication' => [
        'layout' => 'zetta/zend-authentication/layout/default',
        'templates' => [
            'password-recover' => 'zetta/zend-authentication/password-recover',
            'recover' => 'zetta/zend-authentication/recover',
            'signin' => 'zetta/zend-authentication/signin',
            'signup' => 'zetta/zend-authentication/signup',
        ],
        'routes' => [
            'home' => [
                'name' => 'home',
                'params' => [],
                'options' => [],
                'reuseMatchedParams' => false,
            ],
            'redirect' => [
                'name' => 'home',
                'params' => [],
                'options' => [],
                'reuseMatchedParams' => false,
            ],
            'authenticate' => [
                'name' => 'authentication/authenticate',
                'params' => [],
                'options' => [],
                'reuseMatchedParams' => false,
            ],
            'confirm-email' => [
                'name' => 'authentication/confirm-email',
                'params' => [],
                'options' => [],
                'reuseMatchedParams' => false,
            ],
            'password-recover' => [
                'name' => 'authentication/password-recover',
                'params' => [],
                'options' => [],
                'reuseMatchedParams' => false,
            ],
            'recover' => [
                'name' => 'authentication/recover',
                'params' => [],
                'options' => [],
                'reuseMatchedParams' => false,
            ],
            'signin' => [
                'name' => 'authentication/signin',
                'params' => [],
                'options' => [],
                'reuseMatchedParams' => false,
            ],
            'signout' => [
                'name' => 'authentication/signout',
                'params' => [],
                'options' => [],
                'reuseMatchedParams' => false,
            ],
            'signup' => [
                'name' => 'authentication/signup',
                'params' => [],
                'options' => [],
                'reuseMatchedParams' => false,
            ],
            'account' => [
                'name' => 'authentication/default',
                'params' => ['controller' => 'account'],
                'options' => [],
                'reuseMatchedParams' => false,
            ],
            'password-change' => [
                'name' => 'authentication/default',
                'params' => ['controller' => 'account', 'action' => 'password-change'],
                'options' => [],
                'reuseMatchedParams' => false,
            ],
        ],
        'options' => [
            'identityClass' => Application\Entity\User::class,
            'credentialClass' => Application\Entity\Credential::class,
            'roleClass' => Role::class,
            'identityProperty' => 'username',
            'emailProperty' => 'email',
            'credentialProperty' => 'value',
            'credentialIdentityProperty' => 'user',
            'credentialTypeProperty' => 'type',
            'credentialType' => Application\Entity\Credential::TYPE_PASSWORD,
            'credentialCallable' => 'Application\Entity\Credential::check',
        ],
        'default' => [
            'signAllowed' => false,
            'role' => Role::ID_MEMBER,
        ],
        'acl' => [
            'defaultRole' => Role::ID_GUEST,
            'roles' => [
                Role::ID_GUEST => null,
                Role::ID_MEMBER => [Role::ID_GUEST],
                Role::ID_MANAGER => [Role::ID_MEMBER],
                Role::ID_ADMIN => [Role::ID_MANAGER],
                Role::ID_SUPER => [Role::ID_ADMIN],
            ],
            'resources' => [
                'allow' => [
                    'Application\Controller\Index' => [
                        '' => [Role::ID_MEMBER],
                    ],
                    'Application\Controller\Users' => [
                        '' => [Role::ID_ADMIN],
                    ],
                    'Zetta\ZendAuthentication\Controller\Account' => [
                        '' => [Role::ID_MEMBER],
                    ],
                    'Zetta\ZendAuthentication\Controller\Auth' => [
                        'authenticate' => [Role::ID_GUEST],
                        'confirm-email' => [Role::ID_GUEST],
                        'password-recover' => [Role::ID_GUEST],
                        'recover' => [Role::ID_GUEST],
                        'signin' => [Role::ID_GUEST],
                        'signout' => [Role::ID_GUEST],
                        'signup' => [Role::ID_GUEST],
                    ],
                    'Zetta\ZendAuthentication\Menu' => [
                        'account' => [Role::ID_MEMBER],
                    ]
                ],
                'deny' => [
                    'Zetta\ZendAuthentication\Controller\Auth' => [
                        'signup' => [Role::ID_MEMBER],
                    ],
                ],
            ],
        ],
    ],
];
